*{margin: 0px; padding: 0px; font-family: "Verdana"}
body {background-image: url("img/fondo.jpg");}
.imagen{width: 100%; height: 50px;}



/* MENU TOP */
#menu-top{width: 100%; background-color: #74b138;}
#menu-top li form{color: white; background-color: #74b138;}
#menu-top li{float: right;}
#menu-top input{margin-top: 5px;}
#menu-top label{padding-left: 12px;}
.oculto{visibility: hidden;}
.boton{background-color: white; color: black; border: 5px solid #4CAF50;}

/* HEADER */
header{width: 100%; height: 100%; background-color: #FFFFFF;}
header h1{width: 100%; padding:30px; text-align: center; font-family: 'Arial'; font-size: 54px;}
header a{ text-decoration:none; color:#000000;}

/* PIE */
footer p{width: 100%; text-align: center; padding: 10px 0px; background-color: #74b138; color:white;}

/* COLUMNA IZQUIERDA */
aside{width: 25%; height:100%; background-color:#74b138; margin-top: 0px; float: left; color: white; text-decoration: none;}

/* BOTONES */

.button{display: inline-block; border-radius: 4px; background-color: #f4511e; border: none; color: #FFFFFF; text-align: center; font-size: 28px; padding: 20px; width: 200px; transition: all 0.5s; cursor: pointer;margin: 5px;}
.button span{cursor: pointer; display: inline-block; position: relative; transition: 0.5s;}
.button span:after{content: '\00bb'; position: absolute; opacity: 0; top: 0; right: -20px; transition: 0.5s;}
.button:hover span{padding-right: 25px;}
.button:hover span:after{opacity: 1; right: 0;}

#menu-principal .button{
    
    margin: -10px;
    border-radius: 80px;
}
a {
	color:#007aad;
}
#centrar {
	width: 90%;
	margin:auto;
}


nav {
	width: 100%;
	height: 50px;
	background-color: #74b138;
	float:left;
	list-style:none;
    
    
}
nav ul {
	list-style:none;
    
}
nav > li {
	float:left;
    margin-left: 10px;
    margin-left: 49px;
    
}

nav li a {
	background-color: #74b138;
	color: #fff;
	text-decoration:none;
	padding: 13px 40px;
	display: block;
	font-size: 20px;
	margin-right: 25px;
	
}




nav li a:hover {
	background-color: #47964a;
	color:#F0F0F0;
}


nav li ul {
	display: none;
	position: absolute;
	min-width: 140px;
}

nav li:hover > ul {
	display: block;
}
#div1 {
	width: 100%;
	height: 160px;
	float:left;
	background-color: #FFFFFF;
}
#div1 img {
	width:70%;
	height: 60%;
	padding-left: 15%;
	padding-top: 32px;

}

#div2 img {
	width:80%;
	height: 80%;
	padding-left: 15%;
	padding-top: 32px;

}
section {
	width: 100%;
	height: auto;
	background: white;
	margin-top: 0px;
	
}
h4 {
	text-align: center;
}
#form1 {
	float: center;
	width: 90%;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	padding: 15px 0px;
	border-top:1px solid #E0E0E0;
}
legend {
	text-align: center;
}
input {
	margin-left: 15px;
}
#GO {
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}
#GO2{
	padding-left:45px;
	padding-bottom:15px;
	padding-top: 15px;
}
article {
	width: 75%;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	padding: 15px 0px;
	border-top:1px solid #E0E0E0;
    display: inline-block;
}
article h2{
	text-align: center;
	padding-bottom: 15px;
	font-size: 30px;
}
article p {
	width: 90%;
	margin-right: 5%;
	margin-left: 5%;
	float:left;
	font-size: 20px;
}
article img, article a {
	width: 90%;
	margin-right: 15%;
	margin-left: 5%;
	margin-top: 15px;
	float:left;
}


aside h3 {
	text-align: center;
	background-color: #007aad;
	color:#FFFFFF;
	padding:10px;
   
}



#menu-top input {
    width:150px;
    margin-left:10%;
    display:block;
    
}

#menu-top li {
    width:200px;
    text-align:center;
}

/*#menu-top #insertar {
    height:20px;
    padding:5px;
}*/

.botonEspecial {
    background-color:#f4511e;
    border-color:#f4511e;
    border-radius:10px;
}


.ocultar {
    visibility:visible;
    
}

.mostrar {
    visibility:hidden;
}









